.nav-link{
    color: black ;
}
.navbar-light{
    background-color: rgb(6, 81, 131);
}
h1{
    text-align: center;
    font-size: 10ch;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-style: italic;
    color: rgb(197, 58, 8);
}
#contact h2{
    text-align: center;
}
#contact{
    color: black;
}

#contactdetails h2{
    text-align: left;
    text-decoration: rgb(7, 111, 160);
}
.footer{
    padding-top: 5%;
}
.small-img-group{
    margin: auto;
    display: flex;
    justify-content: space-between;
    background: white;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
    background: rgb(255, 255, 255);
}
.buy-button {
    background: rgb(31, 86, 131);
}
#h1{
    color: blue;
    font-size: 75;
    font-style: oblique;
}
.small-Img-group{
    margin: auto;
    display: flex;
    justify-content: space-between;
    background: white;
}
.small-Img-col{
    flex-basis: 24%;
    cursor: pointer;
    background: rgb(255, 255, 255);
}