h1{
    text-align: center;
    font-weight: bolder;
    font-style: oblique;
    font-size: xx-large;
}
h2{
    text-align: center;
    font-size: xx-small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    font-size: xx-small;
    font-style: italic;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h4{
  
    font-size: xx-small;
    font-style: italic;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}
.surge:hover{
    transform: translateY(-10px);
}
body{
    background-image: url(../Images/surgery.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}