h1{
    text-align: center;
    font-size: 15nc;
    font-family: fantasy;
    font-weight: bolder;
    font-style: oblique;
}
body{
    
}
.surge{
    height: 24ch;
    background-repeat: no-repeat;
}